{% extends "layout.twig" %}

{% block styles %}
<link rel="stylesheet" type="text/css" href="/styles/library.css" media="screen"/>
{% endblock %}

{% block content %}
    {#{{ dump(mangas) }}#}

    <div class="container">
        <div class="side-menu">
            <ul>
                <li>filtrer</li>
                <li>transformer</li>
                <li>supprimer</li>
                <li>changer le nom</li>
            </ul>
        </div>

        <div class="mangas">
            <ul class="liste-mangas">
                <h1>
                    {{ manga.name }}
                </h1>

                {% for volume in manga.volumes %}
                    <li>
                        <a href="{{ path_for('reader', { 'name': manga.name , 'number': volume.volumeNumber }) }}">
                            <span class="manga-img" style="background-image: url({{ volume.cover }})"></span>
                            <span class="manga-text">{{ volume.volumeNumber }}</span>
                        </a>
                    </li>

                {% endfor %}

            </ul>
        </div>
    </div>
{% endblock %}