{% extends "layout.twig" %}

{% block styles %}
    <link rel="stylesheet" type="text/css" href="/styles/library.css" media="screen"/>
{% endblock %}


{% block content %}
    {#{{ dump(mangas) }}#}



    <div class="container">
        {% if not mangas %}
            <p>Ajouter une bibliothèque <a href="{{ path_for('scan') }}"><i class="fa fa-plus-square" aria-hidden="true"></i></a> </p>
        {% endif %}
        <div class="mangas">
            <ul class="liste-mangas">
                {% for manga in mangas %}

                <li>
                    <a href="{{ path_for('manga', { 'name': manga.name }) }}">
                        <span class="manga-img" style="background-image: url({{ manga.getCover() }})"></span>
                        <span class="manga-text">{{ manga.name }}</span>
                    </a>
                </li>

                {% endfor %}
            </ul>
        </div>
    </div>
{% endblock %}