{% extends "layout.twig" %}

{% block styles %}
    <link rel="stylesheet" type="text/css" href="/styles/profile.css" media="screen"/>
{% endblock %}

{% block content %}
    <p>{{ msg }}</p>
    <div class="profile-box">
        <p> Bonjour {{ user }} !!</p>
        <div class="setting">
            <ul>
                <li>
                    <a href="{{ path_for('setting') }}" class="link">Configurer votre bibliothéque
                            <i class="fa fa-cogs" aria-hidden="true"></i>
                    </a>
                </li>
                <li>
                    <a href="{{ path_for('change') }}" class="link">Changer le mot de passe</a>
                </li>
                <li>
                    <a href="{{ path_for('todelete') }}" class="link">Supprimer votre compte</a>
                </li>
                <li>Déconnecter
                    <a href="{{ path_for('logout') }}" class="logout">déconnecter</a>
                </li>
            </ul>
        </div>
    </div>
{% endblock %}